/*////////////////////General///////////////////*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu',  'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body.landing{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Link */

a{
    text-decoration: none;
    color: inherit
}
a:visited{
    color: inherit
}
a:link{
    color: inherit;
}

/* Header */

header{
    position: sticky;
    top: 0;
    padding: 0px 40px;
    background-color: white;
    z-index: 1;
}

#header-ct{
    margin: auto;
    max-width: 1200px;
}

header #nav-ctn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid black 5px;
    max-width: 1200px;
    margin: auto;
    padding: 10px 0px;
}

header #nav-ctn #nav-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 2em;
}


nav li {
    list-style: none;
}

nav li a{
    font-family: 'Titan One';
    text-decoration:none;
}
 
#besktop-menu-nav li a{
    font-size: 1.5em;
}


nav li a.active{
    color:#FF4241;
}

#svg{
    width: 40px;
    min-width: 40px;
}

@media screen and (max-width: 768px) {

    header #nav-ctn #nav-content{
        display: none;
    }
    header #nav-ctn nav{
        display: none;
    }
}

/* burger-menu */

#burger{
    width: 25px;
    height: 25px;
    position: relative;
    display: none;
}

.burger-line{
    background-color: black;
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    box-shadow: 1px 2px #FF4241;

    &:nth-child(1) {
        top: 0px;
     }
     &:nth-child(2) {
        transform: translateY(-50%);
        top: 50%;
     }
     &:nth-child(3) {
        bottom: 0px;
     }
}

#burger-menu{
    position: fixed;
    left: 0px;
    background-color: white;
    width: 100%;
    height:calc(100vh - 68px);
    padding: 2em;
    text-align: center;
    display: none;
}
#burger-menu.active{
    display: block;
}
#burger-menu ul li{
    margin-bottom: 1.5em;
}

@media screen and (max-width: 768px) {

    #burger{
        display: block;
    }
}

/* container */

main{
    margin: 0px 40px;
    flex-grow: 1;
}

.main-container{
    margin: 1em auto;
    max-width: 1200px;
}

.section-ctn{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}


/* title */

h1{
    font-size: 4em;
    font-family: 'Titan One';
    white-space: nowrap; 
}
h2{
    font-size: 1.5em;
    font-family: 'Titan One';
    color: #FF4241;
}
@media screen and (max-width: 768px) {
    h1{
        white-space: normal;
        font-size: 48px;
    }
}

/* button */

button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    background-color: #FF4241;
    border-radius: 50px;
    box-shadow: 5px 5px black;
    font-size: bold;
    font-weight: bolder;
}

.cta{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 1em;
    background-color: #FF4241;
    border-radius: 50px;
    box-shadow: 5px 5px black;
    font-size: bold;
    font-weight: bolder;
}

/* footer */
footer{
    margin: 0px 40px;
}
#footer-ct{
    margin: auto;
    text-align: center;
    color: #FF4241;
    border-top: solid black 5px;
    max-width: 1200px;
    padding: 20px 0px; 
    
}

footer p{
    font-family: 'Titan One';
    font-size: 0.5em;
}



/*///////////////// HOME ////////////////*/


#right-section{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    margin: 80px 0px;
}


#about{
    line-height: 1.5em;
}

.links-container{
    display: flex;
    gap: 1em;
}

#btn-cv{
    padding: 1em;
    background-color: #000000;
    color: #FF4241;
    border-radius: 50%;
    box-shadow: 5px 5px #FF4241;
}



#left-section{
    display: flex;
    width: 50%;
    align-items: center;
}


.photo-ctn{
    width: 100%;
    height: 200px;
    border-radius: 60px;
    box-shadow: 5px 5px black;
    background-color: #F6F0F0;
    z-index: -1;
    position: relative;
}

.photo-ctn.mobile{
    display: none;
}

.photo-ctn img{
    position: absolute;
    transform: translateX(-50%);
    bottom: 0;
    left: 50%;
    height: 120%;
}
@media screen and (max-width: 1024px) {
    #left-section{
        display: none;
    }
    #right-section{
        width: 100%;
    }
    .photo-ctn.mobile{
        display: flex;
    }

}

@media screen and (max-width: 768px) {

    .photo-ctn.mobile {
        height: 100px;
        border-radius: 30px;
        min-width: 200px;
    }
}

/*/////////////CONTACT////////////////*/

#contact_ctn{
    max-width: 600px;
    height: 100%;
    margin: auto;
    padding: 3em 0em;
}

#contact-form{
    width: 100%;
}

.form-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    & label{
        margin-bottom: 1em;
    }

    & textarea{
        min-width: 100%;
        max-width: 100%;
        min-height: 100px;
    }
}

#submit-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: #FF4241;
    border-radius: 50px;
    border: none;
    box-shadow: 5px 5px black;
    font-size: bold;
    font-weight: bolder;
    margin: auto;
}



input[type=text] ,input[type=email], textarea{
    background-color: #F6F0F0;
    border: 5px solid black;
    border-radius: 10px;
    padding: 1em;
  }



  /*/////////////PORTFOLIO////////////////*/

  #project-nav{
    margin: 1em 0;
  }

  #project-nav ul{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 0.8em;
  }

  #project-nav li{
    font-size: 0.8em;
    cursor: pointer;
  }

  #project-nav ul li a.active{
    color: #FF4241;
  }

  #project-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    row-gap: 20px;
    column-gap: 20px;
    margin-bottom: 2em;
  }

  .project-item{
    position: relative;
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 6px 4px 10px rgba(0, 0, 0, .5);
    background-color: #F6F0F0;
  }

  .project-item h2{
    font-size: 1.2em;
    font-family: "Titan One";
    color: #000000;
  }

  .project-item.inactive{
    display: none;
  }

  .project-item::after{
    width: 100%;
    content: "";
    padding-bottom: 100%;
  }


  .project-item-content{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1em;
    display: none;
  }

  .project-item:hover .project-item-content{
    display: block;
  }

  .project-item:hover {
    box-shadow: 6px 4px 10px black;
    
  }

  .project-item img.logo{
    width: 50%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .project-item img.full{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
  }

  @media screen and (max-width: 1024px) {
    #project-grid{
        grid-template-columns: repeat(3, 1fr);
      }

  }


  @media screen and (max-width: 768px) {
    #project-nav ul{
        justify-content: center;
    }
    #project-grid{
        grid-template-columns: repeat(2, 1fr);
      }

  }
  @media screen and (max-width: 480px) {
    #project-grid{
        grid-template-columns: repeat(1, 1fr);
      }

  }

/*////////////////////////////project///////////////////////////*/

.project-infos{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.project-image-section{
    display: grid;
    gap: 10px;
    margin: 0 ;
    width: 30%;
    flex-shrink: 0;
    grid-template-columns: 1fr;
}

.project-image-ctn{
    width: 100%;
    flex-shrink: 0;
    padding-bottom: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 6px 4px 10px rgba(0, 0, 0, .5);
    background-color: #F6F0F0;
    position: relative;
}

.project-image-ctn img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-image-ctn img.logo{
    width: 50%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



@media screen and (max-width: 1024px) {
    .section-ctn{
        flex-direction: column;
    }
    .project-image-section{
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
    

}

@media screen and (max-width: 480px) {
    .project-image-section{
        grid-template-columns: 1fr;
    }
}


