 *{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    
}

body{
    background-color: #e8e8e8;

}

#page{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#page_gauche{
    height: 100vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0px;
    
}

header{
    width: 100%;
    height: 25%;
    min-height: 100px;
    display: flex;
    align-items: center;
}

#boite_logo{
    width: 25%;
    margin: auto;
    
}

#logo{
width: 100%;
}

nav{
    width: 100%;
    height: 55%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    
}

nav ul li {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    
    padding: 10px;
    border: 10px solid black;
    width: 100%;
    height: 5%;
    overflow: hidden;
    
    
}

nav ul li:hover{
    background-color: black;
}

nav ul li:hover a{
    color:white;
    
}

nav ul li a{
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7em;
    
}

footer{
    height: 20%;
    display: flex;
    
    align-items: center;
}

footer p{
    font-family: 'Courier New', Courier, monospace;
    padding: 30px;
    font-size: 0.7em;
}



#page_droite{
    width: 70%;}

#boite_text{
    margin-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

 h1{
    margin-top: 20%;
    font-size: 5em;
    color: white;
    background-color: black;
    
    
    
}
h2{
    margin-top: 1%;
    font-size: 3em;
    background-color: white;
    color: black;
    
    
}

h2:hover{
    text-decoration: underline;
}


#boite_cv{
    width: 100%;
    height: 1300px;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
}

#contenu_cv{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#bande_noir{
    width: 30%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 200px;
    
    
}

#photo{
    width: 60%;
}

#photo_moi{
    width: 100%;
    max-width: 300px;
}


#contenu_bande_noir{
    width: 60%;    
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.boite_text_bande_noir{
    color: white;
    font-size: 0.9em;
    
    
}

.boite_text_bande_noir h3{
    font-family: Helvetica, sans-serif;
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 20px;

}

.boite_text_bande_noir li,p{
    font-family: 'Courier New', Courier, monospace;
    list-style: disc;
}


#bande_blanche{
width: 65%;
height: 100%;
}

#Partie_haute_bande_blanche{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Helvetica, sans-serif;
    
}

#Partie_haute_bande_blanche h1{
    font-size: 80px;
    color: black; 
    background-color: transparent;
}

#Partie_basse_bande_blanche{
    height: 70%;
    display: flex;
    flex-direction: column;
}

.boite_text_bande_blanche{
    margin-bottom: 10%
}

.boite_text_bande_blanche b{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}

.boite_text_bande_blanche p{
    margin-top:20px;
    margin-bottom: 20px;
    font-size: 0.9em;
    
}

.boite_text_bande_blanche h3{
    margin-bottom: 5%;
    font-family:Helvetica, sans-serif;
    padding: 10px;
}


#boite_text #titre_contact{
    background-color: transparent;
    color: black;
}

form{
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
    width: 70%;
    
}

label{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    display: block;
}

input,textarea{
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

textarea{
    max-width: 100%;
    min-width: 100%;
}

#bouton_sub{
    width: 100%;
    display: flex;
    flex-direction:row ;
    justify-content: center;
}

input[type=submit]{
    border: 10px solid black;
    width: 25%;
    background-color: white;
    font-size: 0.7em;
}

input[type=submit]:hover{
    border: 10px solid black;
    width: 25%;
    color: white;
    background-color: black;
}



#boite_productions{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.production{
    width: 350px;
    min-width: 350px;
    height: 350px;
    margin: 5%;
    background-color: white;
    border: 10px solid black;
    display: flex;
    justify-content: center;
    
}

.production:hover{
    background-color: black;
} 

.production:hover .img{
    display: none;
} 



img{
    max-width: 100%;
    height: auto;
      
    
}

.cache{
    display: none;
    width: 350px;
    height: 350px;
}

.description{
    width: 100%;
    height: 20%;
    color: white;
    padding: 5%;
}

.description h3{
    font-family:  Helvetica, sans-serif;
    font-size: 1.1em;
}

.description p{
    margin-left: 5%;
    margin-top: 5%;
    font-family:  'Courier New', Courier, monospace;
    font-size: 0.9em;
}
    
.production:hover .cache{
    display: flex;
    flex-direction: column-reverse;
} 


@media screen and (max-width: 900px) {
    #page{
        display: block;
    }
    #page_gauche{
        width: 100%;
        height: auto;
    }
    header {
        width: 100%;
        height: 150px;
        min-height: 100px;
        display: flex;
        align-items: center;
    }
    #boite_logo {
        width: 80px;
        margin: auto;
    }
    nav {
        width: 100%;
        height: 200px;
    }
    nav ul {
        height: 100%;
        width: 100%;
        flex-direction: row;
    }

    nav ul li {
        width: 100px;        
    }

    nav{
        min-height: 100px;
        height: 100px;
    }

    footer{
        display: none;
    }

    #page_droite{
        width: 100%;
        margin-left: 0px;
    }


}